{% extends "@!EasyAdmin/page/content.html.twig" %}

{% block content %}
	<div class="container">
		<h1 class="h1 text-center mt-3">Dashboard</h1>
		<div class="my-3">
			<h2 class="h2">Les 5 dernières demandes</h2>
			<table class="table table-dark table-striped">
				<thead>
					<tr>
						<th scope="col">Nom</th>
						<th scope="col">Prénom</th>
						<th scope="col">Email</th>
						<th scope="col">Téléphone</th>
						<th scope="col">Demande d'appel</th>
						<th scope="col">Date</th>
						<th scope="col">Message</th>
						<th scope="col">Date création</th>
					</tr>
				</thead>
				<tbody>
					{% for lastFive in lastFives %}
						<tr>
							<td>{{ lastFive.name }}</td>
							<td>{{ lastFive.firstname }}</td>
							<td>{{ lastFive.email }}</td>
							<td>{{ lastFive.phone }}</td>
							<td>{{ lastFive.slot }}</td>
							<td>{{ lastFive.recalldate|date('Y-m-d') }}</td>
							<td>{{ lastFive.message }}</td>
							<td>{{ lastFive.createddate|date('Y-m-d H:i:s') }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div>
			<h2 class="h2">Demandes de la journée</h2>
			<table class="table table-dark table-striped">
				<thead>
					<tr>
						<th scope="col">Nom</th>
						<th scope="col">Prénom</th>
						<th scope="col">Email</th>
						<th scope="col">Téléphone</th>
						<th scope="col">Demande d'appel</th>
						<th scope="col">Date</th>
						<th scope="col">Message</th>
						<th scope="col">Date création</th>
					</tr>
				</thead>
				<tbody>
					{% for todayRequest in todayRequests %}
						<tr>
							<td>{{ todayRequest.name }}</td>
							<td>{{ todayRequest.firstname }}</td>
							<td>{{ todayRequest.email }}</td>
							<td>{{ todayRequest.phone }}</td>
							<td>{{ todayRequest.slot }}</td>
							<td>{{ todayRequest.recalldate|date('Y-m-d') }}</td>
							<td>{{ todayRequest.message }}</td>
							<td>{{ todayRequest.createddate|date('Y-m-d H:i:s') }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
