{% extends 'base.html.twig' %}

{% block title %}Formulaire de demande de rappel
{% endblock %}

{% block body %}

	<h1 class="h1 text-center mt-3">Demande de rappel</h1>

	<div class="form">
		{{ form_start(form, {'attr': {'class': 'row justify-content-center mt-3'} }) }}

		<div class="col-md-6">
			{{ form_label(form.name, 'Nom', {
					'label_attr': {'class': 'form-label mt-3'}
					})}}
			{{ form_errors(form.name) }}
			{{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
		</div>

		<div class="col-md-6">
			{{ form_label(form.first_name, 'Prénom', {
            'label_attr': {'class': 'form-label mt-3'}
            })}}
			{{ form_errors(form.first_name) }}
			{{ form_widget(form.first_name, { 'attr': {'class': 'form-control'} }) }}
		</div>

		<div class="col-md-6">
			{{ form_label(form.email, 'Mail', {
            'label_attr': {'class': 'form-label mt-3'}
            })}}
			{{ form_errors(form.email) }}
			{{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
		</div>

		<div class="col-md-6">
			{{ form_label(form.phone, 'Téléphone', {
            'label_attr': {'class': 'form-label mt-3'}
            })}}
			{{ form_errors(form.phone) }}
			{{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
		</div>

		<div class="col-md-6">
			{{ form_label(form.slot, 'Créneau horraire', {
            'label_attr': {'class': 'form-label mt-3'}
            })}}
			{{ form_errors(form.slot) }}
			{{ form_widget(form.slot, { 'attr': {'class': 'form-control'} }) }}
		</div>

		<div class="col-md-6">
			{{ form_label(form.recall_date, 'Date', {
            'label_attr': {'class': 'form-label mt-3'}
            })}}
			{{ form_widget(form.recall_date, { 'attr': {'class': 'form-control '} }) }}
		</div>

		<div class="col-12">
			{{ form_label(form.message, 'Message', {
            'label_attr': {'class': 'form-label mt-3'}
            })}}
			{{ form_widget(form.message, { 'attr': {'class': 'form-control'} }) }}
		</div>

		<div class="col-md-2 mt-3 d-flex justify-content-center">
			<button class="btn btn-primary">{{ button_label|default('Envoyer la demande') }}</button>
		</div>
		{{ form_rest(form) }}

		{{ form_end(form) }}
	</div>

{% endblock %}
